<%= form_for @task do |f| %>
  <div>
    <%= f.label :taskname %><br>
    <%= f.text_field :taskname %>
  </div>
  <div>
    <%= f.label :describe %><br>
    <%= f.text_area :describe %>
  </div>
  <div>
    <%= f.label :anticipated %><br>
    <%= f.date_select :anticipated %>
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.select  :status,[['new',0],['completed',1],['closed',2]] %>
  </div>
<% end %>
