<%= render :partial => "common/bootstrap.css", :locals => { contains: "users"}%>
<div class="container">
	<%= form_for User.new,url: "/users/logon",html: {class: "form-signin"} do |f| %>
    <h2 class="form-signin-heading">Sign in </h2>
    <p class="text-error"><%= alert %></p>
    <div>
      <%= f.text_field :name,placeholder: "username",class: "input-block-level"%>
    </div>
    <div>
      <%= f.password_field :passwd,placeholder: "password",class: "input-block-level" %>
    </div>
    <div>
      <%= f.label :remember,class:"checkbox" do -%>
      <%= f.check_box :remember %>remember me a week
      <% end -%>
    </div>
  <button class="btn btn-primary form-signin-submit" type="submit">logon</button>
</div> 
<%end %>
<%= render :partial => "common/bootstrap.js"%>